<div class="box">
    <h1 style="text-align: center;"><b>Update Donation Campaign</b></h1>
        
    <form [formGroup] = "form" class = "form">


        <div class="container">
            <img [src]="donationCampaignData.getWallpaper()" alt="Avatar" class="image" (click) = "display.click()">
            <input type="file" formControlName="image" hidden #display (change) = "displayImage($event)" accept="image/*"/>
            <div class="overlay" (click) = "display.click()">
                <div class="text">Upload wallpaper</div>
            </div>
        </div>

        <mat-form-field appearance="outline" class="title">
            <mat-label>Title</mat-label>
            <input matInput formControlName="title">
        </mat-form-field>

        <mat-form-field appearance="outline" class="title">
            <mat-label>Description</mat-label>
            <textarea matInput formControlName="description"></textarea>
        </mat-form-field>

            
    </form>


    <button mat-raised-button outline color="primary" (click) = "updateDonationCampaign()" [disabled] = "!isValid()"><b>Add Donation Campaign</b></button> &nbsp;
    <button mat-raised-button outline style="background-color: rgb(255, 54, 54); color: white" (click)="reset()"><b>Reset</b></button>
</div>