.box {
    padding-top: 6rem;
    padding-left: 2rem;
    animation: fadeIn 0.3s ease-in;
}

@keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
}

.card {
  width: 500px;
  height: 500px;
  margin-left: 5%;
  transition: transform 0.5s ease-in-out;
  padding: 25px;
  cursor: pointer;
}

.card:hover, .user-card:hover {
  transform: scale(1.1);
}

.description {
  position: relative;
  overflow: hidden;
  line-height: 1.5rem; /* Adjust line height based on your font size */
  max-height: 9.5rem; /* Adjust max-height based on your line height and desired number of lines */
  text-overflow: ellipsis;
  white-space: nowrap;
}

.user-card {
  width: 50%;
  transition: transform 0.5s ease-in-out;
}

.username {
  font-weight: bold;
  display: inline-block;
  font-size: 30px;
  margin-top: 10%;
  margin-left: 2%
}

.profile-pic {
  border-radius: 50%;
  height: 100px;
  width: 100px;
  float: left;
}

.button {
  float: right
}