.dialog{
    height: 20rem;
    width: 20rem;
    padding: 50px
}

.box {
    padding-top: 6rem
}

.card{
    width: 50%;
    margin: 0 auto;
    margin-top: 10%;
}

.card-header{
    margin-left: 35%;
}

.form {
    margin-left: 0%;
}

.username {
    width: 100%
}

.image{
    border-radius: 50%;
    border: 1px solid gray;
    cursor: pointer;
    position: absolute;
    top: 19%;
    left: 30%;
    height: 40%;
    width: 40%;
}







.overlay {
    position: absolute;
    top: 20%;
    left: 30%;
    height: 40%;
    width: 40%;
    opacity: 0;
    transition: .5s ease;
    border-radius: 50%;
    background-color: #252525;
    cursor: pointer;
}
  
.container:hover .overlay {
    opacity: 1;
}
  
.text {
    color: white;
    font-size: 15px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

.container {
    height: 200px;
    width: 192px;
    margin-left: 36.5%;
    border-radius: 50%;
}
