
<div class="box">
    
    <mat-card class="card">
        <mat-card-header class="card-header">
            <h1>Create Donation Campaign</h1>
        </mat-card-header>
        <mat-card-content>
            
            <form [formGroup] = "donationCampaignForm" class = "form">


                <div class="container">
                    <img [src]="defaultImage" alt="Avatar" class="image" (click) = "display.click()">
                    <input type="file" formControlName="image" hidden #display (change) = "displayImage($event)" accept="image/*"/>
                    <div class="overlay" (click) = "display.click()">
                      <div class="text">Upload wallpaper</div>
                    </div>
                </div>

                <mat-form-field appearance="outline" class="title">
                    <mat-label>Title</mat-label>
                    <input matInput formControlName="title">
                </mat-form-field>

                <mat-form-field appearance="outline" class="title">
                    <mat-label>Description</mat-label>
                    <textarea matInput formControlName="description"></textarea>
                </mat-form-field>

                
            </form>


            <button mat-raised-button outline color="primary" (click) = "addDonationCampaign()" [disabled] = "!isValid()"><b>Add Donation Campaign</b></button> &nbsp;
            <button mat-raised-button outline style="background-color: rgb(255, 54, 54); color: white" (click)="reset()"><b>Reset</b></button>

        </mat-card-content>
    </mat-card>
</div>
