<div class="box">
    
    <div *ngIf = "user.getWalletAddress() !== ''">
        <img [src] = "user.getProfilePic()" class="image">
        <p class="username">
            <span>{{user.getUsername()}}</span> &nbsp;
            <button mat-icon-button class="edit" (click) = "openUpdateUserDialog()" *ngIf="isCurrentUser()">
                <mat-icon>edit</mat-icon>
            </button><br>
        </p>
        <p class="user-data">
            <span>
                <span>Wallet: {{getWalletAddress()}}</span>
                <span>
                    <mat-icon>ethereum</mat-icon>
                    
                    Balance: 
                        <svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 320 512">
                            <path d="M311.9 260.8L160 353.6 8 260.8 160 0l151.9 260.8zM160 383.4L8 290.6 160 512l152-221.4-152 92.8z"/>
                        </svg>
                        {{balance.toFixed(3)}}ETH
                </span>
            </span>
        </p>
    </div>

    <div *ngIf = "user.getWalletAddress() === ''">
        <ngx-skeleton-loader appearance="circle" [theme]="{height: '150px', width: '150px', marginLeft: '45%'}"></ngx-skeleton-loader>
        <ngx-skeleton-loader appearance="line" [theme]="{height: '20px', width: '700px', marginLeft: '30%'}"></ngx-skeleton-loader>
    </div>



    <br><br><br><br>
    <h1 style="margin-left: 2%;">Donation Campaigns</h1>


        <mat-grid-list cols="3" rowHeight="1:1" *ngIf = "user.getWalletAddress() !== ''">

            <mat-grid-tile *ngFor = "let donationCampaign of getDonationCampaigns() | keyvalue">

                <mat-card class="card">
                    <mat-card-header>
                        <h1>{{donationCampaign.value["title"]}}</h1>
                    </mat-card-header>
        
                    <mat-card-content>
                        <img [src]="donationCampaign.value['wallpaper']" height="300" width="100%">
                        <p class="description">{{donationCampaign.value["description"]}}</p>
                        <button mat-raised-button outline color="primary" (click) = "checkDonationCampaign(donationCampaign.key)">Details</button>
                    </mat-card-content>
                </mat-card>
                    
            </mat-grid-tile>

        </mat-grid-list>

        <mat-grid-list cols="3" rowHeight="1:1" *ngIf = "user.getWalletAddress() === ''">

            <mat-grid-tile *ngFor = "let i of [1, 2, 3]">
                <ngx-skeleton-loader appearance="line" [theme]="{height: '700px', width: '500px', marginLeft: '2%', marginBottom: '55%'}"></ngx-skeleton-loader>
            </mat-grid-tile>

        </mat-grid-list>


    <br><br><br>
</div>