.box {
    margin-top: -20px;
    animation: fadeIn 0.3s ease-in;
    color: black
}
  
@keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
}


.header {
  background-image: url('../../../../assets/home_wallpaper.jpg');
  padding-top: 2rem;
  height: 934px;
  color: rgb(236, 236, 236);
  background-repeat: no-repeat;
  background-size: cover;
}

.paragraph {
  position: absolute;
  animation: fadeIn 0.8s ease-in;
  top: 30%;
}

.service-text {
  width: 20%;
  text-align: center;
  font-weight: 100;
  position: absolute;
}

.service {
  margin-left: 5%;
  width: 20%;
  height: fit-content;
  display: inline-block;
  margin-right: 8%;
}

.card {
  width: 500px;
  height: 500px;
  margin-left: 5%;
  transition: transform 0.5s ease-in-out;
  padding: 25px;
  cursor: pointer;
}

.card:hover {
  transform: scale(1.2);
}

.description {
  position: relative;
  overflow: hidden;
  line-height: 1.5rem; /* Adjust line height based on your font size */
  max-height: 9.5rem; /* Adjust max-height based on your line height and desired number of lines */
  text-overflow: ellipsis;
  white-space: nowrap;
}